  /*--------------------------------------------------------------
      Footer
  --------------------------------------------------------------*/
  .footer {
    padding: 10px 0;
  }
  
  .footer .copyright {
    margin: 0;
    a{
        margin:0px 6px;
    }
  }
  
  .footer .footer-social-links {
    text-align: right;
  }
  
  .footer .footer-social-links a {
    display: inline-block;
    padding: 0 6px;
  }